    <%- include("_partials/_head.ejs") %>
    <%- include("_partials/_nav.ejs") %>
     <!-- Contact Section-->
     <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registry</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->

            
            <% if(typeof(errors) != "undefined" ){ %>
            <ul>
              <% errors.forEach(error => {%>
                  <li><p> <%= error %></li></p>
              <%})%>
            </ul>
            <%}%>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <form action="/registry" method="POST">
                    <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Username</label>
                                <input class="form-control" id="user" type="text" placeholder="Username" required="required" data-validation-required-message="Please enter a Username." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Password</label>
                                <input class="form-control" id="pass" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter pasword." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Full Name</label>
                                <input class="form-control" name="name" id="name" type="text" placeholder="Full Name" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Address</label>
                                <input class="form-control" id="address" name="address" type="text" placeholder="Address" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>City</label>
                                <input class="form-control" name="city" id="City" type="text" placeholder="city" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>state</label>
                                <input class="form-control" name="state" id="state" type="text" placeholder="state" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>zip</label>
                                <input class="form-control" id="zip" name="zip" type="number" placeholder="zip code" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <p for="cars">age:</p>

                                <select name="age" id="age">
                                <option value="children5-12">children 5 to 12</option>
                                <option value="teen13-19">teen 13 to 19</option>
                                <option value="adult20-49">adult 20 to 49</option>
                                <option value="senior50-80">senior 50 to 80</option>
                                </select>

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <h5>Gender</h5>
                            
                            <input type="radio" id="male" name="gender" value="male">
                            <p for="male">Male</p><br>
                            <input type="radio" id="female" name="gender" value="female">
                            <p for="female">Female</p><br>
                            <input type="radio" id="other" name="gender" value="other">
                            <p for="other">Other</p>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                         <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                               <input type="checkbox" id="consent" name="consent" value="consented">
                               <p for="consent"> I consent</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Bio</label>
                                <textarea class="form-control" name="bio" id="bio" rows="5" placeholder="bio" ></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   <%- include("_partials/_footer")%>
</body>
</html>